---
import Layout from "../layout/Layout.astro";
---

<Layout
  title="About | Darren R. Skidmore"
  description="Learn more about Darren Skidmore."
>
  <h1>About Me</h1>
  <section class="hero">
    <div class="stack">
      <p>
        I have been studying Computer Science at Brigham Young University (BYU)
        in Provo, Utah since August 2022. My major includes an emphasis in data
        science and minors in statistics and mathematics. Prior to my education
        at BYU, I received my AAS in Computer Science from Weber State
        University in April 2022. I have always strongly valued education and I
        am thankful to the educators in my life who have inspired and supported
        me.
      </p>
      <p>
        I have been nearly continuously employed in technical-related jobs since
        high school. I have had the opportunity to mentor students, help
        diagnose and troubleshoot computer issues, and perform research in these
        positions. This has helped me gain invaluable organizational and
        communication skills.
      </p>
      <p>
        Since July 2024, I have been on a two-year hiatus from school to serve
        as a Full-Time Service Missionary for the Church of Jesus Christ of
        Latter-day Saints. This has been a remarkable experience which has
        greatly blessed my life by giving me the opportunity to gain leadership
        skills, serve others, and fill a spiritual void in my life. In my
        mission, I have continued to have the opportunity to support the Church
        with technology, cultivating my skills and interests.
      </p>
      <p>
        Some of my other passions include running, photography, niche electronic
        music, psychometrics, and playing incremental/idle and puzzle games. I
        am always looking to expand my horizons in this vast and beautiful
        world!
      </p>
    </div>
  </section>
</Layout>
