---
import Image from "astro/components/Image.astro";
import selfPortrait from "../images/portrait.jpg";
import Layout from "../layout/Layout.astro";
---

<Layout title="Darren R. Skidmore" description="Home page for Darren Skidmore.">
  <section class="hero hero-split">
    <div class="stack">
      <h1>Hi, I'm Darren Skidmore.</h1>
      <p>
        I'm a computer science major with an emphasis in data science at Brigham
        Young University in Provo, Utah. I am passionate about technology,
        artificial intelligence, and solving problems using data and statistics.
        Check out my projects and other interests here, and if this site piques
        your interest, reach out!
      </p>
      <div class="actions">
        <a href="/about">About</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
        <a href="/resume.pdf">Resume</a>
        <a href="/photos">Photography</a>
      </div>
    </div>
    <div class="portrait">
      <Image src={selfPortrait} alt="Darren Skidmore" />
    </div>
  </section>
</Layout>
