---
import Image from "astro/components/Image.astro";
import siteIcon from "../../public/favicon.svg";
---

<header>
  <nav class="container">
    <a href="/" class="brand" aria-label="Go to home page">
      <span class="logo-mark" aria-hidden="true">
        <Image src={siteIcon} alt="" />
      </span>
      <strong>Darren R. Skidmore</strong>
    </a>
    <div>
      <a href="/about">About</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
</header>
