<header>
  <nav class="container">
    <a href="/" class="brand" aria-label="Go to home page">
      <span class="logo-mark" aria-hidden="true">
        <!-- Color-neutral icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="4.974504 5.236399 22.312836 22.312836"
          fill="none"
        >
          <g stroke="currentColor" stroke-width="1.2" stroke-linecap="round">
            <ellipse cx="16.130922" cy="16.392817" rx="4.5436606" ry="10.156418"
            ></ellipse>
            <ellipse
              cx="-16.392817"
              cy="16.130922"
              rx="4.5436606"
              ry="10.156418"
              transform="rotate(-90)"></ellipse>
            <ellipse
              cx="-0.18518682"
              cy="22.997757"
              rx="4.5436606"
              ry="10.156418"
              transform="rotate(-45)"></ellipse>
            <ellipse
              cx="-22.997757"
              cy="-0.18518682"
              rx="4.5436606"
              ry="10.156418"
              transform="rotate(-135)"></ellipse>
          </g>
        </svg>
      </span>
      <strong>Darren R. Skidmore</strong>
    </a>
    <div>
      <a href="/about">About</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
</header>
